{% extends "base.html" %} {% block title%}MZB Generator {% endblock %} {% block
content%}
<div class="page_container">
  <h1>Infos</h1>
  <div class="rounded-box-background">
    Diese Applikation wurde von mir, Tim v/o Wookie, entwickelt, um die
    Erstellung und Ablage von Marschzeitberechnungen von vereinfachen. Ich bin
    selber in der Pfadi und habe mir schon immer so ein Tool gewünscht. <br />
    Wenn du Vorschläge hast, oder einem Fehler begegnest, kannst du das gerne
    unten anbringen.
  </div>

  <h1>Updates</h1>
  <div class="rounded-box-background row between">
    <div>Info Seite wurde hinzugefügt.</div>
    <div>2023-06-22</div>
  </div>
</div>
{% endblock %}
