<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Edit MZB</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/styles/styles.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <h1>Configure the current <code>.kml</code> file</h1>
  <div class="editLineContainer">
    {% for key, item in poi.items() %}
    <iframe src='https://map.geo.admin.ch/embed.html?layers=KML%7C%7Chttp:%2F%2Fpublic.pfaditools.ch%2Fdownload_kml%2F{{filename}}%2F{{key}}&E={{center[key][1]}}&N={{center[key][0]}}&zoom=4' width='400' height='300' frameborder='0' style='border:0' allow='geolocation'></iframe>
    <div>
      {{plots[key] | safe}}<label for="breakers">Choose Breakpoint:</label>
      <form id="breakpoint_{{key}}" action="/break_kml" method="post">
        <input type="hidden" value="{{filename}}" name="filename" />
        <input type="hidden" value="{{key}}" name="linesegment" />
        <select name="breaker" id="breaker">
          {% for p in suppliedMarkers[key] %}
          <option value="{{p['id']}}">{{p['name']}}</option>
          {% endfor %}
        </select>
        <input type="submit" />
      </form>
      <input class="spoilerbutton" type="button" value="Show"
        onclick="this.value = this.value == 'Hide' ? 'Show' : 'Hide'" />
      <div class="spoiler">
        <div>
          <p>{{item[0]['name']}} - {{item[-1]['name']}}</p>
          <div>
            <a href="/download_xlsx/{{filename}}/{{key}}">
              <img src="/static/styles/images/xlsx-file-format-extension-svgrepo-com.svg" width="30" />
            </a>
            <a href="/download_kml/{{filename}}/{{key}}">
              <img src="/static/styles/images/kml-file-format-interface-svgrepo-com.svg" width="30" />
            </a>
          </div>
        </div>
        <div class="spoilable">
          {% for p in item %}
          <p>{{p['id']}}, {{p['name']}}</p>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</body>

</html>
