{% extends "base.html" %} {% block title%}MZB Generator {% endblock %} {% block
content%}
<div class="page_container">
  <h1>Willkommen beim MZB Generator</h1>
  <div class="rounded-box-background box-border">
    <p>
      Auf dieser Seite kannst du eine <code>.kml</code> Datei hochladen (z.B.
      von <a href="https://map.geo.admin.ch">Geo Admin</a>), um für deine Route
      eine Marschzeitberechnung (MZB) zu generieren.
    </p>
    <p>
      Um diese Seite aber zu beutzen, musst du zuerst ein Konto erstellen. Hast
      du bereits ein Konto, kannst du dich anmelden
    </p>
    <div class="row">
      <a href="/register">
        <button class="big_button">Registrieren</button>
      </a>
      <a href="/login">
        <button class="big_button">Anmelden</button>
      </a>
    </div>
  </div>
</div>
{% endblock %}
