body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overviewItem {
  background-color: bisque;
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editLineContainer {
  display: grid;
  grid-template-columns: auto auto;
}

.spoiler {
  overflow: hidden;
  background-color: bisque;
}

.spoiler>div {
  margin: 5px;
  overflow: hidden;
  transition: all 1s ease;
}

.spoilerbutton[value="Show"]+.spoiler>.spoilable {
  max-height: 0px;
}

.spoilerbutton[value="Hide"]+.spoiler>.spoilable {
  max-height: 600px;
}
