html {
  --text-color: black;
  --border-color: #125e94;
  --bg-color: white;
  --alt-bg-color: bisque;
}

html[data-theme='dark'] {
  --text-color: white;
  --border-color: #27e6c9;
  --bg-color: #111;
  --alt-bg-color: #024d5c;
}

body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  
}

.overviewItem {
  background-color: var(--alt-bg-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editLineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spoiler {
  overflow: hidden;
  background-color: var(--alt-bg-color);
  border-radius: 20px;
  padding: 10px;
  margin: 10px;
}

.spoiler>div {
  margin: 5px;
  overflow: hidden;
  transition: all 1s ease;
}

.spoilerbutton[value="Show"]+.spoiler>.spoilable {
  max-height: 0px;
}

.spoilerbutton[value="Hide"]+.spoiler>.spoilable {
  max-height: 1000px;
}

.page_container {
  max-width: 800px;
}

.editing_item {
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  border-color: var(--border-color);
}

.map_and_graph {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

.between {
  justify-content: space-between;
  align-items: center;
}

code {
  background-color: var(--alt-bg-color);
  color: var(--border-color);
  border-radius: 5px;
  padding: 2px;
}

.big_button {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  color: var(--text-color);
  margin: 5px;
  
}

.big_button:hover {
  background-color: var(--alt-bg-color);
}

input[type="button"], input[type="submit"] {
 cursor: pointer;
}

input[type="text"] {
  background-color: var(--bg-color);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  color: var(--text-color);
}
