html {
  --hue: 200;
  --text-color: black;
  --border-color: hsl(var(--hue), 95%, 23%);
  --bg-color: hsl(var(--hue), 95%, 90%);
  --alt-bg-color: hsl(var(--hue), 95%, 75%);
  --is-default-mode: 1;
  --border-radius-big: 20px;
  --icon-fill: hsl(210 10% 30%);
  --icon-fill-hover: hsl(210 10% 15%);
}

html[data-theme='dark'] {
  --text-color: white;
  --border-color: hsl(var(--hue), 95%, 75%);
  --bg-color: hsl(var(--hue), 95%, 10%);
  --alt-bg-color: hsl(var(--hue), 95%, 30%);
  --is-default-mode: 0;
  --icon-fill: hsl(210 10% 70%);
  --icon-fill-hover: hsl(210 15% 90%)
}

body {
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif;
  
}

.overviewItem {
  background-color: var(--alt-bg-color);
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  border-radius: var(--border-radius-big);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.editLineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.spoiler {
  overflow: hidden;
  background-color: var(--alt-bg-color);
  border-radius: var(--border-radius-big);
  padding: 10px;
  margin: 10px;
}

.spoiler>div {
  margin: 5px;
  overflow: hidden;
  transition: all 1s ease;
}

.spoilerbutton[value="Show"]+.spoiler>.spoilable {
  max-height: 0px;
}

.spoilerbutton[value="Hide"]+.spoiler>.spoilable {
  max-height: 1000px;
}

.poi_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page_container {
  max-width: 800px;
}

.editing_item {
  padding: 20px;
  margin: 20px;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--border-radius-big);
  border-color: var(--border-color);
}

.map_and_graph {
  display: flex;
  flex-direction: row;
}

.row {
  display: flex;
  flex-direction: row;
}

.between {
  justify-content: space-between;
  align-items: center;
}

code {
  background-color: var(--alt-bg-color);
  color: var(--border-color);
  border-radius: 5px;
  padding: 2px;
}

.big_button {
  background-color: var(--bg-color);
  padding: 10px;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  color: var(--text-color);
  margin: 5px;
  
}

.big_button:hover {
  background-color: var(--alt-bg-color);
}

input[type="button"], input[type="submit"] {
 cursor: pointer;
}

input[type="text"] {
  background-color: var(--bg-color);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
  color: var(--text-color);
}

.graph_container {
  width: 400px;
  height: 300px;
}

.graph_container > div {
  position: absolute;
}

.default_graph {
  opacity: calc(var(--is-default-mode) * 100%);
  z-index: var(--is-default-mode);
}

.dark_graph {
  opacity: calc((1 - var(--is-default-mode)) * 100%);
  z-index: calc(1 - var(--is-default-mode));
}

.poi_table {
  width: 90%;
  border-spacing: 0;
  margin: 10px;
}

.poi_table td, .poi_table th {
  text-align: center;
  border-bottom: 2px solid var(--border-color);
  border-right: 2px solid var(--border-color);
  padding: 10px;
}

.poi_table th:first-child, .poi_table td:first-child {
  border-left: 2px solid var(--border-color);
}

.poi_table tr:first-child th {
  border-top: 2px solid var(--border-color);
}

.poi_table tr:last-child td:first-child {
  border-bottom-left-radius: var(--border-radius-big);
}

  
.poi_table tr:last-child td:last-child {
  border-bottom-right-radius: var(--border-radius-big);
}

.poi_table tr:first-child th:first-child {
  border-top-left-radius: var(--border-radius-big);
}

.poi_table tr:first-child th:last-child {
  border-top-right-radius: var(--border-radius-big);
}

.home_button {
  position: fixed;
  top: 10px;
  left: 10px;
  
}

.home_button svg {
  fill: var(--icon-fill);
  width: 24px;
  height: 24px;
}

.home_button svg:hover {
  fill: var(--icon-fill-hover);
}

select:not(:has(option)) {
  display: none;
}

select:not(:has(option))+input {
  display: none;
}
